<%= form_for @question, :html => { :class => "login" } do |f| %>

    <% if @question.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :questionTitle, autofocus: true, :placeholder => "متن سوال", :class => 'required form-control', :required => 'required' %>
  </div>
  
  <div class="field">
    <%= f.text_field :image, autofocus: true, :placeholder => "تصویر", :class => 'required form-control', :required => 'required' %>
  </div>

  <div class="field">
    <%= f.text_field :answer, autofocus: true, :placeholder => "پاسخ", :class => 'required form-control', :required => 'required' %>
  </div>
  
  <div class="field">
    <%= f.text_field :choice1, autofocus: true, :placeholder => "گزینه ی اول", :class => 'required form-control', :required => 'required' %>
  </div>
  
  <div class="field">
    <%= f.text_field :choice2, autofocus: true, :placeholder => "گزینه ی دوم", :class => 'required form-control', :required => 'required' %>
  </div>
  
  <div class="field">
    <%= f.text_field :choice3, autofocus: true, :placeholder => "گزینه ی سوم", :class => 'required form-control', :required => 'required' %>
  </div>

  <div class="field">
    <%= f.text_field :choice4, autofocus: true, :placeholder => "گزینه ی چهارم", :class => 'required form-control', :required => 'required' %>
  </div>
  
  <div class="field">
  <%= f.select :categories, Category.all.collect(&:name) %>
  </div>
  <%= f.submit "ساخت سوال", :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            questions_path, :class => 'btn btn-default' %>

<% end %>
