<%= form_for @question, :html => { :class => "form-horizontal question" } do |f| %>

    <% if @question.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :image, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :image, :class => 'form-control' %>
    </div>
    <%= error_span(@question[:image]) %>
  </div>
  <div class="control-group">
    <%= f.label :questionTitle, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :questionTitle, :class => 'form-control' %>
    </div>
    <%= error_span(@question[:questionTitle]) %>
  </div>
  <div class="control-group">
    <%= f.label :answer, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :answer, :class => 'form-control' %>
    </div>
    <%= error_span(@question[:answer]) %>
  </div>
  <div class="control-group">
    <%= f.label :choice1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :choice1, :class => 'form-control' %>
    </div>
    <%= error_span(@question[:choice1]) %>
  </div>
  <div class="control-group">
    <%= f.label :choice2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :choice2, :class => 'form-control' %>
    </div>
    <%= error_span(@question[:choice2]) %>
  </div>
  <div class="control-group">
    <%= f.label :choice3, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :choice3, :class => 'form-control' %>
    </div>
    <%= error_span(@question[:choice3]) %>
  </div>
  <div class="control-group">
    <%= f.label :choice4, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :choice4, :class => 'form-control' %>
    </div>
    <%= error_span(@question[:choice4]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            questions_path, :class => 'btn btn-default' %>

<% end %>
