<%- model_class = Question -%>
<div class="panel panel-warning", style="margin: 40px 40px 40px 40px">
<div class="panel-heading"> 
  <h3 class="panel-title">سوال</h3> 
</div>
<div class="page-header", style="margin: 20px">
  <%= image_tag @question.image, :class => "img-responsive wp-post-image", :size => '250x250', :alt => @question.questionTitle, :style=> "float: left; margin-left: 20px" %>
  <dt style="padding: 0px 10px 190px 10px"><strong> <%= @question.questionTitle %></strong></dt>
</div>
<div class="panel-body">
<dl class="dl-horizontal">
  <strong>پاسخ:</strong>
  گزینه ی <%= @question.answer %>
<ul class="list-group">
  <a href="#" class="list-group-item list-group-item-warning"><strong><%= @question.choice1 %></strong></a>
  <a href="#" class="list-group-item list-group-item-info"><strong><%= @question.choice2 %></strong></a>
  <a href="#" class="list-group-item list-group-item-warning"><strong><%= @question.choice3 %></strong></a>
  <a href="#" class="list-group-item list-group-item-info"><strong><%= @question.choice4 %></strong></a>
</ul>
<%= link_to t('.back', :default => t("helpers.links.back")),
              questions_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_question_path(@question), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              question_path(@question),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
</div>

