
<div class="courses_box1">
  <div class="container">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {:class => 'login', method: :post}) do |f| %>
        <%= devise_error_messages! %>
        <p>
          اگر ایمیل تاییدیه دریافت نکرده اید می توانید با وارد كردن ادرس ایمیلی كه در موقع ثبت نام وارد كرده اید آن را
          دریافت کنید.
        </p><br>
        <div class="field">
          <%= f.email_field :email, autofocus: true, :placeholder => "ایمیل خود را وارد کنید" %>
        </div>

        <div class="actions">
          <%= f.submit "ارسال مجدد ایمیل تاییدیه", :class => 'btn btn-primary btn-lg1 btn-block' %>
        </div>
        <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>

