<div class="courses_box1">
  <div class="container">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {:class => 'login', method: :post}) do |f| %>
        <%= devise_error_messages! %>
        <div class="panel panel-warning">
          <div class="panel-body">
            <%= image_tag("forgot-password.jpg" ,:size => "180x180", :alt => "rss feed") %>
            </br>
            <p class="text-warning">
              اگر كلمه عبور خود را فراموش كرده اید می توانید با وارد كردن ادرس ایمیلی كه در موقع ثبت نام وارد كرده اید
              كلمه عبور خود را از طریق ایمیل دریافت كنید .
            </p>
            <br>
            <div class="field">
              <%= f.email_field :email, autofocus: true, :placeholder => "ایمیل خود را اینجا وارد کنید", :class => 'required form-control' %>
            </div>


            <div class="actions">
              <%= f.submit "ارسال", :class => 'btn btn-primary btn-lg1 btn-block' %>
            </div>
            <%= render "devise/shared/links" %>

    <% end %>
    </div>
    </div>
  </div>
</div>
