<script>
$(document).ready(function(){
    $(".dropdown").hover(
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');
        }
    );
});
</script>
<%- model_class = Category -%>
<div class="page-header">
  <h1><%=t '.title', :default => "دسته ها" %></h1>
</div>
  <div class="admission">
     <div class="container">
       <div class="faculty_top">
        <% @categories.each do |category| %>
            <div class="col-sm-3 faculty_grid">
              <figure class="team_member">
                <%= image_tag category.image, :class => "img-responsive wp-post-image", :alt => "" %>
                <div></div>
                <figcaption><h3 class="person-title"><%= link_to category.name, category %></h3>
                  <p></p>
                 </figcaption>
               </figure>
            </div>
        <% end %>

        <div class="clearfix"> </div>
    </div>
    <%= will_paginate @categories, :previous_label => t(:previous), :next_label => t(:next) %>
    </div>
  </div>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_category_path,
            :class => 'btn btn-primary' %>
