  <%- model_class = Category -%>
<div class="page-header">
  <h1><%=t '.title', :default => "دسته بندی " + @category.name %></h1>
</div>
  <div class="row text-center">
    <div class="col-md-12">
      <%= form_tag q_in_cat_search_path, :method => :get do %>
          <%= text_field_tag :q_title, params[:q_title] %>
          <%= hidden_field_tag 'id', @category.id %>
          <%= submit_tag t(:question_search), :name => nil %>
      <% end %>
    </div>
    <% if ! @userrank.nil? then%>
      <% @userrank.each do |userrank| %>
        <h3>First name:<%=  userrank.user.firs_name %> Score:<%= userrank.score%></h3>
          <br>
      <% end %>
    <% end%>
  </div>
<%= render 'questions/index' %>
<%= will_paginate @questions, :previous_label => t(:previous), :next_label => t(:next) %>
