<script src="/assets/clientSocket.js"></script>

<div id="whole_category_container">

<div id="current_category_id_container" hidden><%= @category.id %></div>
<div id="current_user_id_container" hidden><%= current_user.id %></div>
<div id="other_user_id_container" hidden>0</div>

  <%- model_class = Category -%>
  <style>
    .user_rank {
      margin-right: auto;
      margin-left: auto;
      width: 300px;
    }

  </style>
<div class="page-header">
  <h1><%=t '.title', :default => "دسته بندی " + @category.name %></h1>
</div>
  <div class="row text-center">
    <div class="col-md-12">
      <%= form_tag q_in_cat_search_path, :method => :get do %>
          <%= text_field_tag :q_title, params[:q_title] %>
          <%= hidden_field_tag 'id', @category.id %>
          <%= submit_tag t(:question_search), :name => nil %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="row text-center">
  <%= button_to "مسابقه آفلاین", '/make_quiz', :params => {:id => @category.id}, :class => "btn btn-primary btn-lg1",:method => :get  %>
	<br/>
	</div>
	<div class="row text-center">
	<button id='online_quizz_button' onclick="clientSocket.askForOnlineMatch();" class="btn btn-primary btn-lg1">مسابقه آنلاین</button>
  </div>
	<div class="row text-center">
		<div class="col col-md-2 col-md-offset-5">
			<%= image_tag '/assets/loading.gif', :class => "img-responsive wp-post-image", :alt => "", :id => 'loading_img' %>
		</div>
	</div>
  <% if ! @userrank.nil? then%>
      <div class="user_rank" >
  <table class="table" >
    <thead>
		<tr>قهرمانان</tr>
		<tr >
    <th class="text-right" ><%= "اسم" %></th>
    <th class="text-right"><%= "امتیاز" %></th>
    </tr>
    </thead>
    <tbody>

      <% @userrank.each do |userrank| %>
    <tr class="success">

          <td>  <%= userrank.user.firs_name%></td>
           <td><%= userrank.score%></td>

    </tr>
      <% end %>

    </tbody>
  </table>
      </div>
    <% end%>


<%= render 'questions/index' %>
<%= will_paginate @questions, :previous_label => t(:previous), :next_label => t(:next) %>

</div>
